/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #ecf0f1; /* Fondo claro */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    text-align: center;
    color: #34495e; /* Titulo con el color principal */
}

/* Contenedor del formulario */
.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* Estilo del formulario */
.login-form {
    display: flex;
    flex-direction: column;
}

/* Estilos para los campos de entrada */
.input-group {
    margin-bottom: 20px;
}

label {
    color: #34495e;
    margin-bottom: 8px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input:focus {
    border-color: #34495e; /* Resalta el borde cuando estÃ¡ enfocado */
    outline: none;
}

/* BotÃ³n de inicio de sesiÃ³n */
.login-btn {
    background-color: #34495e;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover {
    background-color: #2c3e50; /* Color mÃ¡s oscuro al pasar el mouse */
}

